.edit-form {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  height: 3rem;
  font-size: 1.4rem;
  padding: 0.3rem 0.6rem;
  background-color: var(--primary-white);
  box-shadow: 8px 8px 24px -13px rgba(30, 30, 33, 0.39);
  border-radius: 10px;
  width: 100%;
}
input {
  width: 85%;
  height: 90%;
  font-size: 1.2rem;
  padding: 0.3rem 0.6rem;
  border: none;
  border-radius: 5px;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 25%;
  max-width: 100px;
  height: 100%;
}
.accept-button {
  width: 60%;
  height: 100%;
  background-color: var(--accept-color);
}
.accept-button:hover {
  background-color: #2da969;
}
.back-button {
  width: 40%;
  height: 100%;
  background-color: var(--delete-color);
}
.back-button:hover {
  background-color: #954026;
}
.accept-button,
.back-button {
  border-radius: 5px;
  border: none;
  color: var(--primary-white);
  text-transform: uppercase;
  font-weight: 700;
  transition: background-color 0.3s;
}
